.burger-menu{
  min-width: 320px;
  padding: 24px 24px 32px 24px;
  box-shadow: 16px 0 52px 0 #0E185033, -2px 0 4px 0 #454F7E05;
  box-sizing: border-box;
  &__header{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
  }
  &__nav{
    display: flex;
    flex-direction: column;
  }
  &__nav-link{
    display: block;
    margin-bottom: 28px;
    color: #1B1C21;
    position: relative;
    transition: .3s;
    &:hover{
      color: #7E7E82;
    }
    &.active{
      color: #7E7E82;
      cursor: default;
      &:before{
        position: absolute;
        content: ' ';
        background: #41F6D7;
        height: 32px;
        width: 4px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        top: -6px;
        transform: translateX(-24px);
      }
    }
  }
  &__footer{
    display: flex;
    flex-direction: column;
    margin-top: 225px;
  }
  &__links{
    display: flex;
    margin-bottom: 16px;
  }
  &__change-lang{
    display: flex;
  }
  &__lang{
    margin-right: 7px;
    cursor: pointer;
    &.active{
      color: #7E7E82;
      &:hover{
        cursor: default;
      }
    }
  }
  &__tel{
    font-size: 24px;
    color: black;
    font-weight: 900;
    margin-bottom: 40px;
  }
  &__mail{
    color: black;
    margin-bottom: 12px;
  }
}


.link_burger{
  margin-left: auto !important;
}
.link_burger-left{
  margin-left: 0 !important;
}


@media screen and (max-height: 800px){
  .burger-menu__footer{
    position: static;
    bottom: 0;
  }
  .burger-menu{
    padding-bottom:32px;
    height: auto;
    position: absolute;
  }
}
