$bgColor: #F8F8F8;
$burgerBgColor: #fff;
$text: #1B1C21;
@import './burger-menu.scss';
@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
}

* {
  text-decoration: none;
}

hr {
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background: #EAEAEA;
  border: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pc {
  display: none;
}

.tablet {
  display: none;
}

.flex {
  display: flex;
}

.container {
  margin: 0 16px;
}

.header {
  background: #fff;
}

.default-link {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  color: black;
}
.default-link:hover .link{
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(255, 62, 121, 0.7));
}
.default-link:last-child {
  margin-right: 0;
}

.header__inner {
  display: flex;
  height: 88px;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav .tablet {
  margin: 0 20px 0 4px;
}

.link {
  display: flex;
  border-radius: 100%;
  background: #FF3E79;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: .3s;
}
.link:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(255, 62, 121, 0.7));
}
.header__link-tablet {
  display: none;
  border-radius: 100%;
  background: #FF3E79;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
}

.link:last-child {
  margin-right: 0;
}

.header__additional-tablet {
  display: none;
}

.main__title {
  margin: 24px 0 24px 0;
  position: relative;
  font-size: 28px;
}

.main__title:before {
  position: absolute;
  content: ' ';
  background: #41F6D7;
  height: 40px;
  width: 4px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  left: -30px;
}

.main__links {
  display: none;
}

.main__wrapper {
  display: flex;
  margin-bottom: 14px;
  overflow-x: scroll;
}

//.main__wrapper::-webkit-scrollbar {
//  height: 0;
//}

.main__slide {
  white-space: nowrap;
  border-radius: 6px;
  color: #7E7E82;
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 0 6px;
}

.main__slide:first-child {
  margin-left: 0;
}

.main__slide:last-child {
  margin-right: 0;
}

.main__slide:hover {
  border: 2px solid #B8FFEC;
  background: #fff;
  color: black;
}

.main__slide.active {
  border: 2px solid #B8FFEC;
  background: #fff;
  color: black;
}

.main__information {
  display: flex;
}

.main__description {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
}

.then {
  margin: 16px 32px;
  position: relative;
  cursor: pointer;
  border: none;
  background: inherit;
  display: block;
  font-size: 16px;
}
.subtitle{
  font-size: 16px;
  color: #7E7E82;
  font-weight: 400;

}
.then:before {
  content: ' ';
  width: 24px;
  height: 24px;
  //background: url("../assets/img/icon-next.png") center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-35px);
}
.then-rotate:before{
  transform: translateX(-35px) rotate(180deg);
}
@media screen and (min-width: 767px) and (max-width: 1119px) {
  .mobile {
    display: none;
  }

  .pc {
    display: none;
  }

  .tablet {
    display: block;
  }

  .container {
    margin: 0 25px;
  }

  .header__link-tablet {
    display: flex;
  }

  .main__wrapper {
    margin-bottom: 22px;
  }

  .main__title:before {
    transform: translateX(-25px);
  }

  .main__information {
    display: flex;
    justify-content: space-between;
  }

  .main__information img {
    flex-basis: 20px;
    border-radius: 8px;
    flex-grow: 1;
  }

  .main__information div {
    flex-grow: 1;
    flex-basis: 40px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1119px) {
  .pc {
    display: flex;
  }

  .mobile {
    display: none;
  }

  .tablet {
    /*display: none;*/
  }

  .container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }

  .header {
    display: none;
  }

  .main__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
  }

  .main__wrapper {
    margin-bottom: 42px;
  }

  .main__links {
    display: flex;
    align-items: center;
  }

  .link {
    margin-left: 5px;
  }

  .main__title {
    margin: 0;
  }

  .main__slide {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .main__information img {
    flex-basis: 20px;
    border-radius: 8px;
    flex-grow: 1;
  }

  .main__information div {
    flex-grow: 1;
    flex-basis: 40px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}
.main{
  padding: 30px 0 30px 30px;
}
.container-common{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
